<!-- <ion-header>
  <mat-toolbar color="primary">
    <span>EPlanner</span>
  </mat-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <ion-col size-md="8" size-lg="6">
        <mat-card>
          <mat-card-content>
            <mat-tab-group>
              <mat-tab label="Registrarse">
                <mat-stepper [linear]="true">
                  <mat-step [stepControl]="datosUsuario" label="Datos de la cuenta">
                    <form [formGroup]="datosUsuario">
                      <ion-grid class="ion-padding-top gridForm">
                        <ion-row>
                          <ion-col>
                            <mat-form-field appearance="outline">
                              <mat-label>Email</mat-label>
                              <input matInput formControlName="emailUsuario" placeholder="Ej: ejemplo@ejemplo.com">
                            </mat-form-field>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <mat-form-field appearance="outline">
                              <mat-label>Nombre de usuario</mat-label>
                              <input matInput formControlName="nombreUsuario">
                            </mat-form-field>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col>
                            <mat-form-field appearance="outline">
                              <mat-label>Clave</mat-label>
                              <input matInput formControlName="claveUsuario">
                            </mat-form-field>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="ion-text-end">
                            <button mat-raised-button matStepperNext color="primary">Siguiente</button>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="datosPersonales" label="Datos personales">
                    <form [formGroup]="datosPersonales">
                      <ion-grid class="ion-padding-top">
                        <ion-row>
                          <ion-col size="6">
                            <mat-form-field appearance="outline">
                              <mat-label>Apellido</mat-label>
                              <input matInput formControlName="apellido">
                            </mat-form-field>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="6">
                            <mat-form-field appearance="outline">
                              <mat-label>Nombre</mat-label>
                              <input matInput formControlName="nombre">
                            </mat-form-field>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="2">
                            <mat-form-field appearance="outline">
                              <mat-label>Tipo</mat-label>
                              <mat-select formControlName="tipoDoc">
                                <mat-option *ngFor="let tipo of tiposDoc" [value]="tipo">
                                  {{tipo}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </ion-col>
                          <ion-col size="4">
                            <mat-form-field appearance="outline">
                              <mat-label>Número de documento</mat-label>
                              <input matInput formControlName="nroDoc">
                            </mat-form-field>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="6">
                              <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Fecha de nacimiento</mat-label>
                                <input matInput formControlName="fechaNac" [matDatepicker]="picker" placeholder="DD/MM/AAAA">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker>
                              </mat-form-field>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="6">
                            <mat-form-field appearance="outline">
                              <mat-label>Teléfono</mat-label>
                              <input matInput formControlName="telefono">
                            </mat-form-field>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="3">
                            <button mat-button matStepperPrevious color="primary">Volver</button>
                          </ion-col>
                          <ion-col size="3" class="ion-text-end">
                            <button mat-raised-button matStepperNext color="primary">Registrarme</button>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </form>
                  </mat-step>
                  <mat-step  label="Confirmación de la cuenta">
                    
                  </mat-step>
                </mat-stepper>
              </mat-tab>
              <mat-tab label="Iniciar sesión"></mat-tab>
            </mat-tab-group>            
          </mat-card-content>
        </mat-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<!-- Planifica tus eventos de forma personalizada y disfruta al máximo de cada momento especial. -->
<!-- <ion-header>
  <mat-toolbar color="primary">
    <span>EPlanner</span>
  </mat-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <ion-col size-md="10" size-lg="8" size-xl="6">
        <mat-card>
          <mat-card-content>
            <mat-tab-group [selectedIndex]="indiceTab" (selectedIndexChange)="indiceTab = $event">
              <mat-tab label="Iniciar sesión">
                <form [formGroup]="datosUsuario">
                  <ion-grid class="ion-padding-top">
                    <ion-row class="ion-align-items-center">
                      <ion-col size="6">
                        <mat-form-field appearance="outline">
                          <mat-label>Nombre de usuario</mat-label>
                          <input matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Clave</mat-label>
                          <input matInput>
                        </mat-form-field>
                      </ion-col>
                      <ion-col class="ion-text-center">
                        <p class="info">Te damos la bienvenida.</p>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" size-sm="3">
                        <button mat-button color="accent" (click)="indiceTab = 1">Registrarme</button>
                      </ion-col>
                      <ion-col size="6" size-sm="3" class="ion-text-end">
                        <button mat-raised-button color="primary">Iniciar sesión</button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </form>
              </mat-tab>
              <mat-tab label="Registrarse">
                <mat-stepper [linear]="true" #stepper class="ion-padding-top">
                  <mat-step [stepControl]="datosUsuario" label="Datos de la cuenta">
                    <form [formGroup]="datosUsuario">
                      <ion-grid class="ion-padding-top">
                        <ion-row>
                          <ion-col size="6">
                            <mat-form-field appearance="outline">
                              <mat-label>Email</mat-label>
                              <input matInput formControlName="emailUsuario" placeholder="Ej: ejemplo@ejemplo.com">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Nombre de usuario</mat-label>
                              <input matInput formControlName="nombreUsuario">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Clave</mat-label>
                              <input matInput formControlName="claveUsuario">
                            </mat-form-field>
                            <ion-row>
                              <ion-col class="ion-text-end ion-no-padding">
                                <button mat-raised-button matStepperNext color="primary">Siguiente</button>
                              </ion-col>
                            </ion-row>
                          </ion-col>
                          <ion-col class="ion-text-center">
                            <p class="info">Estos datos son los que utilizarás para acceder a nuestra aplicación.</p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="datosPersonales" label="Datos personales">
                    <form [formGroup]="datosPersonales">
                      <ion-grid class="ion-padding-top">
                        <ion-row>
                          <ion-col size="6">
                            <mat-form-field appearance="outline">
                              <mat-label>Apellido</mat-label>
                              <input matInput formControlName="apellido">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Nombre</mat-label>
                              <input matInput formControlName="nombre">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Tipo de documento</mat-label>
                              <mat-select formControlName="tipoDoc">
                                <mat-option *ngFor="let tipo of tiposDoc" [value]="tipo">
                                  {{tipo}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Número de documento</mat-label>
                              <input matInput formControlName="nroDoc">
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Fecha de nacimiento</mat-label>
                              <input matInput formControlName="fechaNac" [matDatepicker]="picker" placeholder="DD/MM/AAAA">
                              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Teléfono</mat-label>
                              <input matInput formControlName="telefono">
                            </mat-form-field>
                            <ion-row>
                              <ion-col size="6" class="ion-no-padding">
                                <button mat-button matStepperPrevious color="primary">Volver</button>
                              </ion-col>
                              <ion-col size="6" class="ion-text-end ion-no-padding">
                                <button mat-raised-button matStepperNext color="primary">Registrarme</button>
                              </ion-col>
                            </ion-row>
                          </ion-col>
                          <ion-col class="ion-text-center">
                            <p class="info">Ya casi estamos! Queremos saber un poco de vos para ofrecerte un servicio seguro.</p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </form>
                  </mat-step>
                  <mat-step  label="Confirmación de la cuenta">
                    
                  </mat-step>
                </mat-stepper>


              </mat-tab>
            </mat-tab-group>            
          </mat-card-content>
        </mat-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->


<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <ion-col size-md="10" size-lg="8" size-xl="4">
        <mat-card>
          <mat-card-content>
            <mat-tab-group [selectedIndex]="indiceTab" (selectedIndexChange)="indiceTab = $event">
              <mat-tab label="Iniciar sesión">
                <form [formGroup]="datosUsuario">
                  <ion-grid class="ion-padding-top">
                    <ion-row class="ion-align-items-center">
                      <ion-col>
                        <mat-form-field appearance="outline">
                          <mat-label>Nombre de usuario</mat-label>
                          <input matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                          <mat-label>Clave</mat-label>
                          <input matInput>
                        </mat-form-field>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <button mat-button color="accent" (click)="indiceTab = 1">Registrarme</button>
                      </ion-col>
                      <ion-col class="ion-text-end">
                        <button mat-raised-button color="primary">Iniciar sesión</button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </form>
              </mat-tab>
              <mat-tab label="Registrarse">
                <mat-stepper [linear]="true" [orientation]="platform.is('desktop') ? 'horizontal' : 'vertical'" #stepper class="ion-padding-top">
                  <mat-step [stepControl]="datosUsuario" label="Datos de la cuenta">
                    <form [formGroup]="datosUsuario">
                      <ion-grid class="ion-padding-top">
                        <ion-row>
                          <ion-col>
                            <mat-form-field appearance="outline">
                              <mat-label>Email</mat-label>
                              <input matInput formControlName="emailUsuario" placeholder="Ej: ejemplo@ejemplo.com">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Nombre de usuario</mat-label>
                              <input matInput formControlName="nombreUsuario">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Clave</mat-label>
                              <input matInput formControlName="claveUsuario">
                            </mat-form-field>
                            <ion-row>
                              <ion-col class="ion-text-end ion-no-padding">
                                <button mat-raised-button matStepperNext color="primary">Siguiente</button>
                              </ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </form>
                  </mat-step>
                  <mat-step [stepControl]="datosPersonales" label="Datos personales">
                    <form [formGroup]="datosPersonales">
                      <ion-grid class="ion-padding-top">
                        <ion-row>
                          <ion-col>
                            <mat-form-field appearance="outline">
                              <mat-label>Apellido</mat-label>
                              <input matInput formControlName="apellido">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Nombre</mat-label>
                              <input matInput formControlName="nombre">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Tipo de documento</mat-label>
                              <mat-select formControlName="tipoDoc">
                                <mat-option *ngFor="let tipo of tiposDoc" [value]="tipo">
                                  {{tipo}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Número de documento</mat-label>
                              <input matInput formControlName="nroDoc">
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Fecha de nacimiento</mat-label>
                              <input matInput formControlName="fechaNac" [matDatepicker]="picker" placeholder="DD/MM/AAAA">
                              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                              <mat-label>Teléfono</mat-label>
                              <input matInput formControlName="telefono">
                            </mat-form-field>
                            <ion-row>
                              <ion-col class="ion-no-padding">
                                <button mat-button matStepperPrevious color="primary">Volver</button>
                              </ion-col>
                              <ion-col class="ion-text-end ion-no-padding">
                                <button mat-raised-button matStepperNext color="primary">Registrarme</button>
                              </ion-col>
                            </ion-row>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </form>
                  </mat-step>
                  <mat-step  label="Confirmación de la cuenta">
                    
                  </mat-step>
                </mat-stepper>


              </mat-tab>
            </mat-tab-group>            
          </mat-card-content>
        </mat-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>