

<button pButton (click)="selectSalon(0)" class="mt-2 " icon="pi pi-plus" label="Nuevo"></button>
<div>
  <div class="flex-1 md:flex-none flex align-items-center justify-content-center font-bold text-white m-2 px-5 py-3 border-round" *ngFor="let sala of salas">
        <p-card class="col-5 text-center" styleClass="shadow-2">
            <ng-template pTemplate="header" >
              Nombre: {{sala.denominacion}}
            </ng-template>
            <ng-template pTemplate="body">
              Costo: {{sala.costoPorDia}} <br>
              Cant Personas:{{sala.capacidad}}
            </ng-template>
            <ng-template pTemplate="footer">
              <button (click)="selectSalon(sala.idSalon)" pButton type="button" label="Ver" icon="pi pi-angle-right" iconPos="right" class="p-button-sm"></button>
            </ng-template>
        </p-card>
  </div>
</div>