<h2 mat-dialog-title>{{data.salon == null ? 'Nuevo' : 'Editar'}} salón</h2>
<form [formGroup]="datosSalon" (ngSubmit)="datosSalon.valid ? guardarSalon() : null">
  <mat-dialog-content>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <mat-form-field appearance="outline">
            <mat-label>Denominación</mat-label>
            <input matInput formControlName="denominacion">
            <mat-error *ngIf="datosSalon.get('denominacion')?.hasError('required')">
              Debe ingresar una denominación
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Capacidad</mat-label>
            <input matInput formControlName="capacidad" mask="0*">
            <mat-error *ngIf="datosSalon.get('capacidad')?.hasError('required')">
              Debe ingresar una capacidad
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="calleDireccion">
            <mat-error *ngIf="datosSalon.get('calleDireccion')?.hasError('required')">
              Debe ingresar una dirección
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Número</mat-label>
            <input matInput formControlName="numeroDireccion" mask="0*">
            <mat-error *ngIf="datosSalon.get('numeroDireccion')?.hasError('required')">
              Debe ingresar un número de calle
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion" cdkTextareaAutosize="true" cdkAutosizeMaxRows="5"></textarea>
            <mat-error *ngIf="datosSalon.get('descripcion')?.hasError('required')">
              Debe ingresar una descripción
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Costo por día</mat-label>
            <input matInput formControlName="costoPorDia" mask="separator" thousandSeparator=".">
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-error *ngIf="datosSalon.get('costoPorDia')?.hasError('required')">
              Debe ingresar un costo por día
            </mat-error>
          </mat-form-field>
        </ion-col>
      </ion-row>
    </ion-grid>
  </mat-dialog-content>
  <mat-dialog-actions class="ion-justify-content-between">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button type="submit" color="primary">{{data.salon == null ? 'Crear' : 'Guardar'}}</button>
  </mat-dialog-actions>
</form>