<form [formGroup]="servicioForm">

    <div class="centrar">
    <p-card header="Nuevo servicio" >

        <div class="grid flex">
            <div class="col-12 md:col-4">
                <div class="field p-fluid">
                    <span class="p-float-label">
                        <input id="denominacion" formControlName="denominacion" class="p-invalid" aria-describedby="denominacion-help" pInputText/>
                        <label for="denominacion">Denominación</label>
                    </span>
                    <!-- <small *ngIf="servicioForm.controls['denominacion'].invalid && servicioForm.controls['denominacion'].dirty" id="denominacion-help" class="p-error">Debe ingresar una denominación.</small> -->
                </div>
            </div>
            <div class="col-12 md:col-4">
                <div class="field p-fluid">
                    <span class="p-float-label">
                        <p-inputNumber id="costoPorDia" formControlName="costoPorDia" mode="currency" currency="ARS" [maxFractionDigits]="0"></p-inputNumber>
                        <label for="costoPorDia">Costo por dia</label>
                    </span>
                </div>
            </div>
            <div class="col-12 md:col-4">
                <span class="p-float-label">
                    <p-dropdown id="tipoServicio" formControlName="tipoServicio" styleClass="dropdown" [autoDisplayFirst]="false" [options]="tiposDeServicios" optionLabel="denominacion" [showClear]="true"></p-dropdown>
                    <label for="tipoServicio">Tipo de servicio</label>
                </span>
            </div>
        </div>

        <div class="flex justify-content-between" [style]="{'margin-top':'2rem'}">
            <button pButton pRipple type="button" label="Cancelar" class="p-button-raised p-button-secondary p-button-text" (click)="cancelar()"></button>
            <button pButton pRipple type="button" label="Guardar" class="p-button-raised" (click)="guardarServicio()" 
                [disabled]="!(servicioForm.controls.denominacion.valid && servicioForm.controls.costoPorDia.valid && servicioForm.controls.tipoServicio.valid)">
            </button>
        </div>

    </p-card>
    </div>
    
</form>