<p-card class="flex justify-content-center mt-5">
  <div class="grid flex">
    <form (ngSubmit)="!todoForm.invalid && saveEvento()" #todoForm="ngForm">
      <tr>
        <td >
          <div  class="m-3">
              <label for="eventoCantPersonas">Cantidad de Personas</label>
              <input type="text" id="eventoCantPersonas" pInputText
              [(ngModel)]="evento.cantidadPersonas"
              class="form-control"
              name="cantidadPersonas" required="required">
          </div>
        </td>
        <td >
          <div  class="m-3">
            <label for="eventofechaEvento">Fecha de Evento</label>
            <input type="date" id="eventofechaEvento" pInputText
                   [(ngModel)]="evento.fechaEvento"
                   class="form-control"
                   name="fechaEvento" required="required">
          </div>
        </td>
        <td>
          <div class="m-3">
          <label for="idCliente">Cliente</label>
          <p-dropdown id="idCliente" [options]="clientes" [(ngModel)]="evento.cliente"
                      optionLabel="apellido" class="form-control" name="evento.salon" appendTo="body" display="chip"></p-dropdown>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="m-3 ">
          <label for="idServicio">Servicios</label>
          <p-multiSelect id="idServicio" [options]="servicios" [(ngModel)]="evento.servicios"
                         optionLabel="denominacion" class="form-control flex" name="evento.servicios" appendTo="body" display="chip"></p-multiSelect>
          </div>
        </td>
        <td>
          <div class="m-3">
          <label for="idSalon">Salon</label>
          <p-dropdown id="idSalon" [options]="salones" [(ngModel)]="evento.salon"
                         optionLabel="denominacion" class="form-control" name="evento.salon" appendTo="body" display="chip" ></p-dropdown>
          </div>
        </td>
      </tr>

        <button pButton type="submit" class="p-button-succes mt-2" (click)="saveEvento()">Save</button>
    </form>
  </div>
</p-card>
