<ion-app>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<ion-header>
  <app-navbar (abrirMenu)="sidenav.toggle()"></app-navbar>
</ion-header>
<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav mode="over">
    <app-menu (navigateTo)="navigateTo($event); sidenav.toggle();" (closeMenu)="sidenav.toggle()"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <ion-router-outlet></ion-router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</ion-app>