<div class="grid flex">
    <div class="grid flex" [style]="{'padding-top':'2rem'}">
        <div class="col-12">
            <div class="field p-fluid">
                <span class="p-float-label">
                    <input id="denominacion" class="p-invalid" [(ngModel)]="nuevoTipo.denominacion" pInputText/>
                    <label for="denominacion">Denominación</label>
                </span>
            </div>
        </div>
        <div class="col-12 flex justify-content-between">
            <button pButton pRipple type="button" (click)="cancelar()" label="Cancelar" class="p-button-raised p-button-secondary p-button-text"></button>
            <button pButton pRipple type="button" (click)="guardar()" label="Guardar" class="p-button-raised" 
                [disabled]="nuevoTipo.denominacion == ''">
            </button>
        </div>
    </div>
</div> 