<div class="grid flex">
  <div class="col-12" [style]="{'padding-top':'2rem'}">
      <div class="field p-fluid">
          <span class="p-float-label">
              <input id="float-username" pInputText [(ngModel)]="username"/>
              <label for="float-username">Usuario</label>
          </span>
      </div>
  </div>
  <div class="col-12">
      <div class="field p-fluid">
          <span class="p-float-label">
              <input id="float-password" pInputText type="password" [(ngModel)]="password"/>
              <label for="float-password">Contraseña</label>
          </span>
      </div>
  </div>
  <div class="col-12 centrar">
    <button (click)="handleJWTAuthLogin()" pButton type="button" label="Aceptar"></button>
  </div>
</div>