<mat-card matRipple class="hoverable" (click)="seleccionarSalon(salon)" (mouseenter)="this.panel.open()" (mouseleave)="this.panel.close()">
  <div mat-button>
    <mat-card-title class="nombreSalon psuspensivos">{{salon.denominacion}}</mat-card-title>
    <mat-card-content>
      <img src="assets\images\salones\{{salon.nombreImagen}}.jpg">
    </mat-card-content>
    <mat-expansion-panel hideToggle [expanded]="this.platform.width() < 500" #panel class="mat-elevation-z0 disabled-pointer">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p class="precio psuspensivos">{{salon.costoPorDia | currency:'$ ':'symbol':'4.0-0'}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon fontIcon="groups" class="material-symbols-outlined"></mat-icon>
          <span matListItemTitle>{{salon.capacidad}} personas.</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListItemIcon fontIcon="location_on"></mat-icon>
          <span matListItemTitle>{{salon.calleDireccion}}, {{salon.numeroDireccion}}.</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>
</mat-card>
