<h2 mat-dialog-title>¿Deseas reservar este salón?</h2>
<mat-dialog-content>
<ion-grid>
  <ion-row>
    <h1>{{data.salon.denominacion}}</h1>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-sm="6" class="ion-align-items-center flex">
      <p class="descripcion">
        {{data.salon.descripcion}}
      </p>
    </ion-col>
    <ion-col size="12" size-sm="6" class="ion-align-items-center ion-justify-content-center flex">
      <ion-row>
        <mat-list>
          <mat-list-item>
            <mat-icon matListItemIcon fontIcon="groups" class="material-symbols-outlined"></mat-icon>
            <span matListItemTitle>Capacidad</span>
            <span matListItemLine>{{data.salon.capacidad}} personas.</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon fontIcon="location_on"></mat-icon>
            <span matListItemTitle>Ubicación</span>
            <span matListItemLine>{{data.salon.calleDireccion}}, {{data.salon.numeroDireccion}}.</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon fontIcon="attach_money"></mat-icon>
            <span matListItemTitle>Costo por día</span>
            <span matListItemLine>{{data.salon.costoPorDia | currency:'$ ':'symbol':'4.0-0'}}.</span>
          </mat-list-item>
        </mat-list>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
</mat-dialog-content>
<mat-dialog-actions class="ion-justify-content-between">
  <button mat-button mat-dialog-close>Volver</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="data.edicion">Reservar</button>
</mat-dialog-actions>
